.baseButton {
  all: unset; // Reset default button style
  padding: 0 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  width: fit-content;
  min-width: fit-content;
  height: 40px;
  min-height: 40px;

  font-size: $size-regular;
  font-weight: $weight-semi-bold;
  line-height: 24px;
  user-select: none;
  &:focus {
    outline: none !important;
  }
}

.primary {
  @extend .baseButton;
  background-color: $bColorBasePurple;
  color: $bColorBaseWhite;
  &:hover {
    background-color: $bColorAccentPurpleDark;
    transition: background-color 300ms ease-out;
  }
  &:disabled {
    background-color: $bColorPrimaryPurpleDisabled;
  }
}

.secondary {
  @extend .baseButton;
  border: 1px solid $bColorBasePurple;
  background-color: $bColorBaseWhite;
  color: $bColorBasePurple;
  // To compensate the 2 extra height pixels from the border
  height: 38px;
  min-height: 38px;
  &:hover {
    color: $bColorAccentPurpleDark;
    border: 1px solid $bColorAccentPurpleDark;
    transition: color 300ms ease-out;
    transition: border 300ms ease-out;
  }
  &:disabled {
    color: $bColorPrimaryPurpleDisabled;
    border: 1px solid $bColorPrimaryPurpleDisabled;
  }
}

.tertiary {
  @extend .baseButton;
  background-color: transparent;
  color: $bColorBasePurple;
  padding: 0;
  min-height: auto;
  height: auto;
  &:hover {
    color: $bColorAccentPurpleDark;
    transition: color 300ms ease-out;
  }
  &:disabled {
    color: $bColorPrimaryPurpleDisabled;
  }
}

.confirmation {
  @extend .baseButton;
  background-color: $bColorSecondaryGreen;
  color: $bColorBaseWhite;
  &:hover {
    background-color: $bColorSuccess;
    transition: background-color 300ms ease-out;
  }
  &:disabled {
    background-color: $bColorSuccessDisabled;
  }
}

.rejection {
  @extend .baseButton;
  background-color: $bColorBaseOrange;
  color: $bColorBaseWhite;
  &:hover {
    background-color: $bDangerHover;
    transition: background-color 300ms ease-out;
  }
  &:disabled {
    background-color: $bDangerDisabled;
  }
}

.grey {
  @extend .baseButton;
  border: 1px solid $bColorSecondaryGreyMid;
  background-color: $bColorBaseWhite;
  color: $bColorBaseDark1;
  font-weight: $weight-light;
  padding: 0 8px;
  // To compensate the 2 extra height pixels from the border
  height: 38px;
  min-height: 38px;
  &:hover {
    background-color: $bColorSecondaryBckGrey;
    border: 1px solid $bColorSecondaryGreyDark;
    transition: background-color 300ms ease-out;
    transition: border 300ms ease-out;
  }
  &:disabled {
    background-color: $bColorBaseWhite;
    border: 1px solid $bColorSecondaryGreyMid;
    color: $bColorSecondaryGreyMid;
  }
}
