.baseButton {
  all: unset; // Reset default button style
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: fit-content;
  &:focus {
    outline: none !important;
  }
}

.text {
  font-size: $size-regular; // 14px
  font-weight: $weight-semi-bold; // 600
  line-height: 24px;
  user-select: none;
  margin: 0;
  &.startIcon {
    padding-left: 8px;
  }
  &.endIcon {
    padding-right: 8px;
  }
}

.primary {
  @extend .baseButton;
  background-color: $bColorBasePurple;
  color: $bColorBaseWhite;
  &:hover {
    background-color: $bColorAccentPurpleDark;
  }
  &:disabled {
    background-color: $bColorPrimaryPurpleDisabled;
  }
}

.secondary {
  @extend .baseButton;
  border: 1px solid $bColorBasePurple;
  background-color: $bColorBaseWhite;
  color: $bColorBasePurple;
  &:hover {
    color: $bColorAccentPurpleDark;
    border: 1px solid $bColorAccentPurpleDark;
  }
  &:disabled {
    color: $bColorPrimaryPurpleDisabled;
    border: 1px solid $bColorPrimaryPurpleDisabled;
  }
}

.tertiary {
  @extend .baseButton;
  background-color: transparent;
  color: $bColorBasePurple;
  padding: 0;
  &:hover {
    color: $bColorAccentPurpleDark;
  }
  &:disabled {
    color: $bColorPrimaryPurpleDisabled;
  }
}

.confirmation {
  @extend .baseButton;
  background-color: $bColorSecondaryGreen;
  color: $bColorBaseWhite;
  &:hover {
    background-color: $bColorSuccess;
  }
  &:disabled {
    background-color: $bColorSuccessDisabled;
  }
}

.rejection {
  @extend .baseButton;
  background-color: $bColorBaseOrange;
  color: $bColorBaseWhite;
  &:hover {
    background-color: $bDangerHover;
  }
  &:disabled {
    background-color: $bDangerDisabled;
  }
}
