.reset {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

.container {
  width: 480px !important;
  max-width: 480px !important;

  @media (min-width: 320px) and (max-width: 823px) {
    width: 95% !important;
    margin-top: 20% !important;
  }

  [class*='modal-content'] {
    padding: 24px 32px;
    min-height: 208px !important;
  }
}

.title {
  color: red;
  border: none !important;
  @extend .reset;
  margin-bottom: 24px !important;
  h5 {
    font-size: 20px !important;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    line-height: 24px !important;
  }
}

.subtitle {
  color: magenta;
  @extend .reset;
  margin-bottom: 24px !important;
  line-height: 24px !important;
}

.footer {
  border: none !important;
  @extend .reset;
}

.image {
  max-width: 24px;
  min-width: 24px;
  max-height: 24px;
  min-height: 24px;
}

.buttonsContainer {
  display: flex;
  column-gap: 24px;
}

.input {
  margin-bottom: 0;
  width: 100%;

  [class*='input-group'] {
    border-radius: 8px;
  }
}
