.resetDefaultButtonStyle {
  border: none;
  background: none;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: $weight-semi-bold;
  outline: none !important;
  justify-content: space-between;
  line-height: 24px;
  min-width: fit-content;
}

.primary {
  @extend .resetDefaultButtonStyle;
  background: $bColorBasePurple;
  color: $bColorBaseWhite;

  &:hover {
    background: $bColorAccentPurpleDark;
  }

  &:disabled {
    background: $bColorPrimaryPurpleDisabled;
  }
}

.secondary {
  @extend .resetDefaultButtonStyle;
  border: 1px solid $bColorBasePurple;
  background: $bColorBaseWhite;
  color: $bColorBasePurple;

  &:hover {
    color: $bColorAccentPurpleDark;
    border: 1px solid $bColorAccentPurpleDark;
  }

  &:disabled {
    color: $bColorPrimaryPurpleDisabled;
    border: 1px solid $bColorPrimaryPurpleDisabled;
  }
}

.tertiary {
  @extend .resetDefaultButtonStyle;
  background: $bColorBaseWhite;
  color: $bColorBasePurple;
  padding: 0;

  &:hover {
    color: $bColorAccentPurpleDark;
  }

  &:disabled {
    color: $bColorPrimaryPurpleDisabled;
  }
}

.success {
  @extend .resetDefaultButtonStyle;
  background: $bColorSecondaryGreen;
  color: $bColorBaseWhite;

  &:hover {
    background: $bColorSuccess;
  }

  &:disabled {
    background: $bColorSuccessDisabled;
  }
}

.danger {
  @extend .resetDefaultButtonStyle;
  background: $bColorBaseOrange;
  color: $bColorBaseWhite;

  &:hover {
    background: $bDangerHover;
  }

  &:disabled {
    background: $bDangerDisabled;
  }
}

.tab {
  @extend .resetDefaultButtonStyle;
  background: $bColorBaseWhite;
  border: 1px solid $bColorBaseDark1;

  &:hover {
    background: $bColorSecondaryGreyLight;
  }
}

.activeTab {
  @extend .resetDefaultButtonStyle;
  background: $bColorBaseDark1;
  color: $bColorBaseWhite;
  font-weight: $weight-light;

  &:hover {
    background: $bColorBaseDark1;
  }

  &:disabled {
    background: $bColorBaseDark1;
  }
}

.iconButton {
  @extend .resetDefaultButtonStyle;
  border: 1px solid $bColorBasePurple;
  background: $bColorBaseWhite;
  color: $bColorBasePurple;
  padding: 8px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;

  &:hover {
    color: $bColorAccentPurpleDark;
    border: 1px solid $bColorAccentPurpleDark;
  }

  &:disabled {
    color: $bColorPrimaryPurpleDisabled;
    border: 1px solid $bColorPrimaryPurpleDisabled;
  }
}

.icon {
  font-size: 20px;
}

.endIconPadding {
  padding-right: 8px;
}

.startIconPadding {
  padding-left: 8px;
}

.startIconMargin {
  margin-right: 8px;
}

.endIconMargin {
  margin-left: 8px;
}

.centerIcon {
  margin: auto;
}
