.iconButton {
  all: unset; // Reset default button style
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px; // Should be 8px but icon has 1px extra as inherit padding
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  &:hover {
    color: $bColorAccentPurpleDark;
    border: 1px solid $bColorAccentPurpleDark;
  }
  &:disabled {
    color: $bColorPrimaryPurpleDisabled;
    border: 1px solid $bColorPrimaryPurpleDisabled;
    opacity: 0.6;
  }
  &:focus {
    outline: none !important;
  }
}
