// v2 colors

$bColorBasePurple: #6157fc;
$bColorBaseBlue: #0062ff;
$bColorBaseDark1: #000a3f;
$bColorBaseDark2: #000a3f80;
$bColorBaseDark4: #000a3f1a;
$bColorBaseOrange: #ff5a3a;
$bColorAccentPurpleDark: #4e46ca;
$bColorAccentPurpleMid: #7168fc;
$bColorAccentPurpleLight: #a09afd;
$bColorSecondaryGreyDark: #80859f;
$bColorSecondaryGreen: #4cd964;
$bColorSecondaryGreyMid: #ccced9;
$bColorSecondaryAmber: #ffcb00;
$bColorPrimaryPurpleDisabled: #a09afd;
$bColorSuccess: #3db05d;
$bColorSuccessDisabled: #94e8a2;
$bDangerHover: #cc4a3b;
$bDangerDisabled: #ffad9d;
$bColorBaseWhite: #ffffff;
$bColorSecondaryGreyLight: #f2f2f5;

// v1 colors

$primary-purple-with-opacity: #c0bcfe;

$secondary-mint: #73dce0;
$tones-lilac: #f2edff;
$tones-light-blue: #e0effc;

$secondary-red-shade: #d83030;
$gray-hover: #f7f7f7;
$tooltip-background: #545b7e;
$disabled-calendar-cells: #e0e0e0;

//Hover Colors
$primary-purple-hover: #e5e4ff;
$primary-purple-hover-tint: #f7f6ff;

// box shadow
$box-shadow-1: 0px 0px 8px 2px rgba(228, 228, 228, 0.5);
